<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classifier</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Upload an Image for Classification</h1>
    <form id="upload-form">
        <input type="file" id="image-input" name="image" accept="image/*">
        <div id="image-preview"></div>
        <button type="submit">Predict</button>
    </form>

    <div id="prediction-result"></div>
    <script src="../static/js/script.js"></script>
</body>
</html>